*{
  margin: 0;
  padding: 0;
}
.App {
  padding: 100px 20px;
  text-align: center;
  margin: auto;
  background-color: #779c6d;
}
.gameButton {
  width: 180px;
  height: 80px;
  background-color: bisque;
  border-radius: 15px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
